body {
    background-color: rgba(116, 35, 39, 0.747);
    background-image: url();
    font-family: 'Times New Roman', Times, serif, serif;
    font-size: 20px;
    line-height: 1.5;

}

h1 {
    color: rgb(120, 150, 240);
    text-align: center;
    margin-top: 40px;

}
h2 {
    color: rgb(178, 130, 240);
        text-align: center;
        margin-top: 50px;
}
h2:hover{
    box-shadow: 0 0 5px cyan 0 0 25px cyan 0 0 50px cyan 0 0 100px cyan0 0 0 200px cyan;
}
form{
    color:blue;
    text-align: center;
    margin-top: 50px;
}
form:hover{
    box-shadow: 0 0 5px cyan 0 0 25px cyan 0 0 50px cyan 0 0 100px cyan0 0 0 200px cyan;
}
label{
    color:blueviolet;
    text-align: center;
    display: inline;
}

button {

    background-color: cyan;
    color: rgb(55, 21, 248);
    box-shadow: 0 0 5px rgb(214, 72, 172),
        0 0 35px rgb(49, 223, 223);
    border-radius: 5px
}

button:hover {
    box-shadow: 0 0 5px rgb(243, 186, 243),
        0 0 25px rgb(154, 201, 201), 0 0 50px rgb(155, 245, 245),
        0 0 100px rgb(170, 221, 221), 0 0 200px rgb(164, 228, 228);

}